.nav-link {
  font-size: 40px;
}

.jumbotron {
  text-align: center;
  height: 100%;
  border-style: dashed;
  border-color: black;
  background-image: url("https://truetech-v4.s3.amazonaws.com/uploads/article/image/12/christopher-gower-291246.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.jumbotron h1 {
  font-size: 10vw;
  font-style: oblique;
}

.About {
  display: inline-block;
  background-color: rgb(219, 219, 219);
}

.About .SelfPic {
  float: left;
  width: 25%;
  border-radius: 50px;
}

.About h1 {
  width: 100%;
}

.About p {
  padding: 50px 20px 0px 400px; /*remove from smaller screens*/
  text-align: center;
  width: 100%;
  font-size: 18px;
}

.Client-Projects {
  background-color: white;
}

.Client-Projects h1 {
  text-align: left;
  text-decoration: underline;
}

.Client-Projects p {
  font-size: 18px;
}

.Side-Projects {
  background-color: white;
}

.container-fluid .Side-Projects h1 {
  text-align: left;
  text-decoration: underline;
}

.container-fluid {
  width: 100%;
  margin-top: 20px;
  border-bottom: solid;
}

.ContactMe {
}

.ContactMe h1 {
  text-align: left;
  text-decoration: underline;
}

.ContactMe p {
  font-weight: bold;
  font-size: 30px;
}

.ContactMe ul i {
  padding-left: 20px;
}

.ContactMe #facebook:hover {
  color: black;
}

.ContactMe #instagram {
  color: black;
}

.ContactMe #instagram:hover {
  color: #007bff;
}

.ContactMe #linkedin:hover {
  color: black;
}

.ContactMe #github {
  color: black;
}

.ContactMe #github:hover {
  color: #007bff;
}

.ContactMe #twitter:hover {
  color: black;
}
